h1 {
    margin-top: 40px;
}

.pinLabel {
    position: relative;
    left: 49%;
}

.presentesLabel, .ausentesLabel {
    position: relative;
    left: 60px;
}
.pin::placeholder{
    text-align: center;
}

.presente, .ausente, .pin {
    width: 300px;
    position: relative;
    left: 55px;
}

.presente:disabled {
    background-color: rgb(188, 252, 188);
}

.ausente:disabled {
    background-color: rgb(255, 168, 153);
}

.pin:disabled {
    justify-content: center;
}

#campos {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 40px;
}

.table-responsive {
    position: relative;
    float: right;
    text-align: center;
    margin-top: 60px;
    width: 800px;
    margin-bottom: 60px;
}

#button-finalizar {
    float: right;
}

#img {
    margin-top: 80px;
}

@media (min-width: 0){
    .display-6{
        font-size: 20px;
    
    }
    #button-finalizar{
        float: left;
        font-size: 10px;
        
    }
    .jumbotron{
        padding-bottom: 50px;
    }

    #disableImput{
        size: small;
        float: left;

    }
    #campos{
        margin-left: 0;
    }
    #imagem{
        width: 200px;
        height: 200px;
        float:right;
        float: left;
        margin-top 50px;
    }
    