h1 {
    padding-top: 40px;
}
#editar {
    background-color: #ffa500;
    border-color: white;
}
#PerfilProf {
    padding-top: 25px;
}

@media (min-width: 0) {
    .display-6 {
        font-size: 30px;
        text-align: center;
    }
    #frase {
        font-size: 15px;
        text-align: justify;
    }

    #user {
        max-width: 100px;
        max-height: 100px;
        width: auto;
        height: auto;
    }
    #PerfilProf {
        font-size: 20px;
    }
    #editar {
        margin-bottom: 40px;
    }
    .navbar,
    #footer-a {
        font-size: 10px;
    }
}

@media (min-width: 375px) {
    .display-6 {
        font-size: 40px;
        text-align: center;
    }
    #frase {
        font-size: 20px;
        text-align: justify;
    }

    #user {
        max-width: 150px;
        max-height: 150px;
        width: auto;
        height: auto;
    }

    #PerfilProf {
        font-size: 30px;
    }
    #editar {
        margin-bottom: 50px;
    }
    .navbar,
    #footer-a {
        font-size: 12px;
    }
}

@media (min-width: 425px) {
    .display-6 {
        font-size: 40px;
        text-align: center;
    }
    #frase {
        font-size: 20px;
        text-align: justify;
    }

    #editar {
        margin-bottom: 50px;
    }
    .navbar,
    #footer-a {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .display-6 {
        font-size: 40px;
        text-align: center;
    }
    #frase {
        font-size: 20px;
        text-align: justify;
    }

    #editar {
        margin-bottom: 50px;
    }
    .navbar,
    #footer-a {
        font-size: 17px;
    }
    b {
        text-align: center;
    }
}
