h1{
    padding-top: 40px;
}
#frase{
    font-size: 18px;
}
#turmas-collapse{
    margin-bottom: 50px;
}
h2{
    margin-bottom:30px;
}
#disciplina-collapse{
    color: black;
}

.buttons-disciplina {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.buttons-disciplina > div:first-child {
    margin-bottom: 15px;
    flex: 1 1 436px;
    text-align: justify;
}

.buttons-disciplina > div:nth-child(2) {
    flex: 0 1 212px;
}

.button-chamada{
    float: right;
}
.button-relatorio{
    float: right;
    margin-left: 20px;
}
