h1{
    padding-top: 40px;
}
#frase{
    font-size: 18px;
}
#turmas-collapse{
    margin-bottom: 50px;
}
h2{
    margin-bottom:30px;
}
#disciplina-collapse{
    color: black;
}

.buttons-disciplina {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.materia-btn{
    position: relative;
    float: right;
    left: 45%;
}
a{
    color: orange;
}
@media (max-width: 1199px) {
    .materia-btn{
        left: 30%;
        
    }
 }
 
@media (max-width: 991px) {
   .materia-btn{
       left: 15%;

   }
}
@media (max-width: 767px) {
    .materia-btn{
        left: 0;
        top: 5px;
    }
 }
 